@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #26354A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    width: 100%;
}

.navbar_main {
    display: inline-flex;
}

#navbar_brand {
    margin-top: 1.5em;
}

.nav-item {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 1px;
}

.dropdown {
    list-style-type: none;
    color: #189FA9;
    margin-top: 0.33rem;
}

.dropdown:active {
    text-decoration: none !important;
    list-style-type: none;
    color: #189FA9;
}

.dropdown:hover {
    text-decoration: none !important;
    color: #FFF;
    list-style-type: none;
}

.nav-item .dropdown {
    display: inline-flex;
}

.tools_dropdown {
    height: auto;
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    display: none;
}

#search_button {
    position: relative;
    background-color: rgba(0,0,0,0);
    color: #189FA9;
}

#search_button:focus {
    color: #189FA9;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}

#search_bar {
    positon: absolute;
    background-color: rgba(0,0,0,0);
    color: #189FA9;
    outline: 0;
    border-width: 0 0 2px;
    border-radius: 0;
    border-color: #189FA9;
    width: 24rem;
    margin-left: 1rem;
}

#search_bar:focus {
    box-shadow: none;
}

#search_bar::placeholder {
    color: #189FA9;
}

/*--------------------*/
/*--- Main Content ---*/
/*--------------------*/

aside,
#sidebar-left {
    background-color: #141D28;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar_brand_sidebar {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}

#sidebar-content {
    margin-left: auto;
    margin-right: auto;
}

#sidebar_nav-item {
    padding-top: 0.25rem;
    margin-top: 0.75rem;
    align-items: center;
    background-color: #1F2D3A;
    width: 100%;
    color: #189FA9;
    justify-content: center;
    font-size: 0.75rem;
}

main {
    height: auto;
}

.colored-text {
    color: #189FA9;
}

.main-bg {
    background-color: #E9ECEF;
}

.breadcrumbs {
    border-radius: 1.5em;
    padding: 0.5rem;
}

/*--------------*/
/*--- Footer ---*/
/*--------------*/

footer {
    background-color: #26354A;
    color: #189FA9;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

#footer_tagline {
    padding-top: 0.25rem;
}

footer ul li {
    list-style-type: none;
}


/*-------------------*/
/*-- Media Queries --*/
/*-------------------*/

@media (max-width: 768px) {
    aside, #sidebar-left {
        display: none;
    }
}